<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>       <!-- 引入样式 -->


</head>

<body>
    <div id="app">
        <div class="search_form">
            <div class="form_group">
                <h1>天知道</h1>
                <input type="text" v-model="city" @keyup.enter="search" class="input_txt" placeholder="请输入查询天气">

                <el-button type="primary" icon="el-icon-search" @click="search">搜索</el-button>
            </div>

            <div class="hotkey">
                <a @click="changeCity('上海')">上海</a>
                <a @click="changeCity('北京')">北京</a>
                <a @click="changeCity('广州')">广州</a>
                <a @click="changeCity('深圳')">深圳</a>
            </div>

        </div>

        <ul class="list">
            <li v-for="(item,index) in weatherList">
                <span>{{item.date}}</span> <span>{{item.low}}</span> {{item.high}}
            </li>
        </ul>

    </div>
 
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>    
    

</body>

</html>