body{
    width: 100%;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

#app{
    width: 500px;
    margin: 0 auto;
    text-align: center;
}


.fa{

    cursor: pointer;

}

.hotkey a{

    color:olivedrab;
    text-shadow: 1px 1px 5px #064114;
}

.input_txt{
    padding: 10px;
    margin: 10px;
    margin-left: 25px;
    border-radius: 5px;
}

ul li{
    padding: 5px;
}